<ul>
  <li>
    <a [routerLink]="homeLink">
      <i class="fa-solid fa-house-chimney-medical" aria-hidden="true"></i>
      Home
    </a>
  </li>
  <li *ngIf="role === 'Doctor'">
    <a routerLink="/doctor/my-clinics">
      <i class="fa-solid fa-hospital" aria-hidden="true"></i>
      My Clinics
    </a>
  </li>
  <li *ngIf="role === 'Patient' || !isLoggedIn">
    <a routerLink="/clinic-details">
      <i class="fa-solid fa-hospital" aria-hidden="true"></i>
      Clinics
    </a>
  </li>
  <li *ngIf="!isLoggedIn">
    <a routerLink="/login">
      <i class="fa-solid fa-right-to-bracket" aria-hidden="true"></i>
      Sign in
    </a>
  </li>
  <li *ngIf="!isLoggedIn">
    <a routerLink="/register">
      <i class="fa-solid fa-id-badge" aria-hidden="true"></i>
      Create account
    </a>
  </li>
  <li *ngIf="isLoggedIn">
    <a routerLink="/logout">
      <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
      Sign out
    </a>
  </li>
</ul>